{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}

	<div class="container">
		<div>
			<div class="mb-5">
				<h1>Changer votre mot de passe</h1>
			</div>


			<p>Veuillez remplir les champs ci-dessous :</p>


			{{ form_start(resetForm) }}

			<div class="row">
				<div class="col-md-6 pb-5">
					<form>
						<div class="mb-3">
							{{form_widget(resetForm)}}
						</div>
						<button class="btn btn-primary">Valider le nouveau mot de passe</button>
					</form>
				</div>
			</div>

			{{ form_end(resetForm) }}

		</div>
	</div>
{% endblock %}
