body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Hauteur minimale de la fenêtre visible */
}

.content-container {
    background-color: white;
    /* Arrière-plan blanc pour le contenu à l'intérieur du conteneur */
    box-shadow: 0 0 10px rgba(226, 225, 225, 0.1);
    /* Ajout d'une ombre légère pour le conteneur */
}

.logoBorder {
    border-bottom: #dddbdb 1px solid;
}

footer {
    margin-top: auto;
    /* Le footer sera poussé vers le bas autant que nécessaire pour remplir l'espace disponible */
    background-color: #3a3a3a;
    /* Fond noir */
    height: 100px;
}

.footer-text {
    color: white;
    /* Texte en blanc pour contraster avec le fond noir */
}

/* **********************ACCOUNT******************************* */

.account-view {
    padding: 40px 0;
    text-align: center;
}

/* .container {
    max-width: 800px;
    margin: 0 auto;
} */

.card {
    margin-bottom: 20px;
    height: 200px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    margin-bottom: 10px;
}

.card-text {
    flex-grow: 1;
    margin-bottom: 10px;
}

.btn-primary {
    margin-top: auto;
}